{% extends 'reg/base_template.html' %}


{% block content %}
    <p><i>Версия сертификата:</i> {{ certificate.version }}</p>
    <p><i>Серийный номер сертификата:</i> {{ certificate.serial_number }}</p>
    <p><i>Идентификатор алгоритма цифровой подписи:</i> {{ certificate.id_algorithm_signature }}</p>
    <p><i>Имя издателя:</i> {{ certificate.publisher_name }}</p>
    <p><i>Дата начала действия сертификата:</i> {{ certificate.start_time }}</p>
    <p><i>Дата конца действия сертификата:</i> {{ certificate.end_time }}</p>
    <p><i>Имя субъекта сертификата:</i> {{ certificate.subject_name }}</p>
    <p><i>Публичный ключ субъекта:</i> {{ certificate.public_key }}</p>
    <p><i>Уникальный идентификатор издателя:</i> {{ certificate.id_publisher }}</p>
    <p><i>Уникальный идентификатор субъекта:</i> {{ certificate.id_subject }}</p>
{% endblock content %}